<!-- contenido principal del sistema-->
<div class="inicio_contenido">
    <div class="contenido_pagina">
        <div class="texto">Lista de Empresas</div>
        <!-- Mostrará una lista de las empresas-->
        <div class="empresas_lista">
            <!-- cada habitación se contendrá en una caja y estas tendrán un id único, 
            con sus categoria y el estado en que se encuentre-->
            <div class="empresas">
                    <!-- habitación 001-->
                    <div class="Empresa">
                        <img src="empresas/logo.png">
                        <div class="detalle_titulo">Nombre: Tecopesca</div>
                        <div class="detalle_categoria">Direccion: 28MV+5MF, Jaramijó</div>
                        <div class="ventana_modal_piePagina">
                            <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                        </div>
                        <div>
                    </div>
                </a>
            </div>
            <div class="habitaciones_box">
                <a routerLink="/gestion">
                    <!-- habitación 001-->
                    <div class="Empresa">
                        <img src="empresas/logo conservas.png">
                        <div class="detalle_titulo">Nombre: Conservas Isabel</div>
                        <div class="detalle_categoria">Direccion: Calle 125 y, Av. 103, Manta 130204</div>
                        <div class="ventana_modal_piePagina">
                            <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                        </div>
                        <div>
                    </div>
                </a>
            </div>
            
                </a>
            </div>
        </div>
        <!-- fin del listado de habitaciones, este listado será generado por la base de datos, 
        por ahora solo es un diseño -->
    </div>
</div>