<!-- contenido principal del sistema-->
<div class="inicio_contenido">
    <div class="contenido_pagina">
        <div class="tarjeta sombra-sm">
            <div class="tarjeta_cuerpo p-3">
                <h6 class="tarjeta-title fuente_negrita texto-primario" style="font-size: 15px;">Resumen de las Practicas</h6><br>
                <div class="form-fila">
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Empresa:</label>
                        <label class="form-texto">Tecopesca</label>
                    </div>
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Numero de Cedula:</label>
                        <label class="form-texto">1313191759</label>
                    </div>
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Estudiante:</label>
                        <label class="form-texto">Rodriguez Sergio</label>
                    </div>
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Observaciones:</label>
                        <label class="form-texto">Ninguna</label>
                    </div>
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Numero Horas:</label>
                        <label class="form-texto">84 Horas</label>
                    </div>
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Correo:</label>
                        <label class="form-texto mb-0">e1313191759@live.uleam.edu.ec</label>
                    </div>
                    <div class="columna-2">
                        <button id="btnfinalizarventa" class="btn btn-primary btn-block" type="button">Imprimir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>